.keynoteSpeaker{
    float: left;
    display: inline;
}

.croppedGonzalez {
    float:left;
    width: 320px;
    height: 320px;
    object-fit: cover;
    object-position: 70% 0%;
}

.croppedParisi {
    float:left;
    width: 320px;
    height: 320px;
    object-fit: cover;
}