<div class="w-100 center mw6 pa3 mb1">
    <img class="0 ma3;" src="{{.Get `imSource`}}">
    <a href="{{.Get `titleLink`}}">{{.Get "title"}}</a><br>
    {{.Get "authors"}}<br>
    {{if isset .Params "r1"}}
    <ul class="cms">
        <li>{{.Get "r1"}}</li>
        <li>{{.Get "r2"}}</li>
        <li>{{.Get "r3"}}</li>
    </ul>
    {{end}}
    {{.Get "awardVal"}} prize {{with .Get "sponsor"}} sponsored by <a href="https://www.forcedimension.com/">Force Dimension</a> {{end}} {{with .Get "3ds"}} and a <a href="https://www.3dsystems.com/haptics-devices/touch">3D Systems Touch Device</a>{{end}}
</div>
<div class="cf"></div>