<div class="presenter">
<img class="cropped" src="{{.Get `imFile`}}" {{with .Get "cropPos"}} style="object-position:{{ . }}" {{end}}>
    <p style="padding-left:330px;padding-top:5%"> <span style="color:grey; "> Title: </span> <br> <span style="font-weight:bold"> {{.Get "title"}} </span></p>
    <p style="padding-left:330px"> <span style="color:grey"> Presenter: </span> <br> <span style="font-weight:bold"> {{.Get "name"}} </span> - {{.Get "affiliation"}} </p>
    <p style="padding-left:330px"> <span style="color:grey"> Co-authors: </span> <br> {{.Get "coauthor"}} </p>
</div>
<div style="clear:both"></div>