<div class="presenter" style="display: flex; flex-direction: column; align-items: center;">
    <img class="cropped" src="{{.Get `imFile`}}" {{with .Get "cropPos"}} style="object-position:{{ . }}" {{end}}>
    <div style="text-align: center;">
        <p><span style="color:grey"> Title: </span></p>
        <p style="font-weight:bold;">{{.Get "title"}}</p>
    </div>
    <div style="text-align: center;">
        <p><span style="color:grey"> Presenter: </span></p>
        <p><span style="font-weight:bold;">{{.Get "name"}}</span> - {{.Get "affiliation"}}</p>
    </div>
    {{ with .Get "coauthors" }}
        <div style="text-align: center;">
            <p><span style="color:grey">Coauthor:</span></p>
            {{ range $index, $coauthor := split . "; " }}
                <p>{{ $coauthor }}</p>
            {{ end }}
        </div>
    {{ end }}
</div>