<div class="presenter">
    <img class="cropped" src="{{ .Get `imFile`}}" {{ with .Get "cropPos" }} style="object-position:{{ . }}" {{ end }}>

    <!-- Right-side info -->
    <p style="padding-left:330px">
        <span style="color:grey">Title:</span><br>
        <span style="font-weight:bold">{{ .Get "title" }}</span>
    </p>

    <p style="padding-left:330px">
        <span style="color:grey">Presenter:</span><br>
        <span style="font-weight:bold">{{ .Get "name" }}</span> - {{ .Get "affiliation" }}
    </p>

    {{ with .Get "coauthors" }}
    <p style="padding-left:330px">
        <span style="color:grey">Coauthor:</span>
        {{ range $index, $coauthor := split . "; " }}
        <br>{{ $coauthor }}
        {{ end }}
    </p>
    {{ end }}
</div>

<div style="clear:both"></div>

{{ with .Get "abstract" }}
<div class="presenter-abstract">
    <p>
        <span style="color:grey">Abstract:</span><br>
        {{ . | markdownify }}
    </p>
</div>
{{ end }}

{{ with .Get "biography" }}
<div class="presenter-biography">
    <p>
        <span style="color:grey">Biography:</span><br>
        {{ . | markdownify }}
    </p>
</div>
{{ end }}