<div>
     <strong>1. </strong>Sign in to YouTube Studio
     <strong>2. </strong>In the top-right corner, click “CREATE” and then “Upload videos”
     <strong>3. </strong>Select the file you’d like to upload<
     <strong>4. </strong>Edit your video details
         <ul style="padding-left: 20px">
             <li>In the “Details” tab, click “SHOW MORE” and set “Video language” to English. You may edit the other settings as you like.</li>
             <li>In the “Video elements” tab, click “ADD” at “Add subtitles” (if you skip this, you can edit it afterwards)
             <li>Use either “Auto-sync” or “Type manually” to enter the captions
             <li>After entering all the captions, check their accuracy with the preview panel on the right side
             <li>In the “Checks” tab, check issues for your video
             <li>In the “Visibility tab”, you may select the visibility option that you like (if you do not want to open your video to the public until the conference, do not select “Public”)</li>
         </ul>
    <strong>5. </strong>Click “Content” on the left of \[YouTube Studio](https://studio.youtube.com/channel/UCSLexDpxUfL44AB_341V3lg)
    <strong>6. </strong>Click the pen icon (“Details”) on the row with the video(s) you want to save (the icon is not visible until you hover over the table row)
    <strong>7. </strong>Click “Subtitles” on the left menu
    <strong>8. </strong>Click the three dots icon (“Options”) on the row with the captions you want to save (the icon is not visible until you hover over the table row)
    <strong>9. </strong>Click “Download” and then click “.srt”
    <strong>10. </strong>Now, you have a closed caption file!
</div>