<div>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-c8ve {
            background-color: #ffffff;
            border-color: inherit;
            color: #787878;
            text-align: center;
            vertical-align: center
        }

        .tg .tg-eysr {
            background-color: #ef6c00;
            border-color: inherit;
            color: #ffffff;
            text-align: center;
            vertical-align: center
        }

        .tg .tg-8k7y {
            background-color: #ffebdb;
            border-color: inherit;
            color: #000000;
            text-align: center;
            vertical-align: center
        }
    </style>
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-eysr"><span style="font-weight:bold">Full Conference</span><br><span
                        style="font-weight:bold">Registration Fees</span></th>
                <th class="tg-eysr"><span style="font-weight:bold">Early Registration</span><br><span
                        style="font-weight:bold">(On or before February 23, 2024)</span></th>
                <th class="tg-eysr"><span style="font-weight:bold">Regular</span><br><span
                        style="font-weight:bold">Registration</span></th>
                <th class="tg-eysr"><span style="font-weight:bold">Onsite</span><br><span
                        style="font-weight:bold">Registration</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-c8ve">Member</td>
                <td class="tg-8k7y">$729</td>
                <td class="tg-8k7y">$800</td>
                <td class="tg-8k7y">$894</td>
            </tr>
            <tr>
                <td class="tg-c8ve">Non-member</td>
                <td class="tg-8k7y">$875</td>
                <td class="tg-8k7y">$960</td>
                <td class="tg-8k7y">$1,073</td>
            </tr>
            <tr>
                <td class="tg-c8ve">Student Member</td>
                <td class="tg-8k7y">$437</td>
                <td class="tg-8k7y">$480</td>
                <td class="tg-8k7y">$536</td>
            </tr>
            <tr>
                <td class="tg-c8ve">Student Non-member</td>
                <td class="tg-8k7y">$525</td>
                <td class="tg-8k7y">$576</td>
                <td class="tg-8k7y">$643</td>
            </tr>
            <tr>
                <td class="tg-c8ve">Life Member</td>
                <td class="tg-8k7y">$437</td>
                <td class="tg-8k7y">$480</td>
                <td class="tg-8k7y">$536</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-c8ve {
            background-color: #ffffff;
            border-color: inherit;
            color: #787878;
            text-align: center;
            vertical-align: center
        }

        .tg .tg-eysr {
            background-color: #ef6c00;
            border-color: inherit;
            color: #ffffff;
            text-align: center;
            vertical-align: center
        }

        .tg .tg-8k7y {
            background-color: #ffebdb;
            border-color: inherit;
            color: #000000;
            text-align: center;
            vertical-align: center
        }
    </style>
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-eysr"><span style="font-weight:bold">One Day</span><br><span
                        style="font-weight:bold">Registration Fees</span></th>
                <th class="tg-eysr"><span style="font-weight:bold">Early Registration</span><br><span
                        style="font-weight:bold">(On or before February 23, 2024)</span></th>
                <th class="tg-eysr"><span style="font-weight:bold">Regular</span><br><span
                        style="font-weight:bold">Registration</span></th>
                <th class="tg-eysr"><span style="font-weight:bold">Onsite</span><br><span
                        style="font-weight:bold">Registration</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-c8ve">Member</td>
                <td class="tg-8k7y">$328</td>
                <td class="tg-8k7y">$360</td>
                <td class="tg-8k7y">$402</td>
            </tr>
            <tr>
                <td class="tg-c8ve">Non-member</td>
                <td class="tg-8k7y">$393</td>
                <td class="tg-8k7y">$432</td>
                <td class="tg-8k7y">$482</td>
            </tr>
            <tr>
                <td class="tg-c8ve">Student Member</td>
                <td class="tg-8k7y">$196</td>
                <td class="tg-8k7y">$216</td>
                <td class="tg-8k7y">$241</td>
            </tr>
            <tr>
                <td class="tg-c8ve">Student Non-member</td>
                <td class="tg-8k7y">$236</td>
                <td class="tg-8k7y">$259</td>
                <td class="tg-8k7y">$289</td>
            </tr>
            <tr>
                <td class="tg-c8ve">Life Member</td>
                <td class="tg-8k7y">$196</td>
                <td class="tg-8k7y">$216</td>
                <td class="tg-8k7y">$241</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-c8ve {
            background-color: #ffffff;
            border-color: inherit;
            color: #787878;
            text-align: center;
            vertical-align: center
        }

        .tg .tg-eysr {
            background-color: #ef6c00;
            border-color: inherit;
            color: #ffffff;
            text-align: center;
            vertical-align: center
        }

        .tg .tg-8k7y {
            background-color: #ffebdb;
            border-color: inherit;
            color: #000000;
            text-align: center;
            vertical-align: center
        }
        .tg .tg-nrm6{
            background-color:#ffebdb;
            color:#787878;
            text-align:left;
            vertical-align: center}
    </style>
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-eysr" colspan="2"><span style="font-weight:bold">Other Registration Fees</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-c8ve">Banquet Ticket</td>
                <td class="tg-8k7y">
                    $125
                    <ul class="tg-nrm6">
                        <li>Each full conference registration comes with one ticket to the banquet. Full conference participants may purchase extra banquet tickets for guests.</li>
                        <li>One-day registration does not include a banquet ticket. One-day conference participants may purchase banquet tickets.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>