<div style="margin: 1.5rem 0; text-align: center;">
    <a href="https://www.dropbox.com/scl/fi/rhp439cdnzgtmwvy537e6/HS26-Local-Proceedings-Site.zip?rlkey=vmk6lhya9d67cpxmku8q4jp2s&e=1&st=ub0fi1mv&dl=1"
        style="
      display: inline-block;
      padding: 1rem 1.6rem;
      background-color: #eb8b2d;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 700;
      text-decoration: none;
      border-radius: 0.45rem;
      box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    ">
        Download the conference proceedings (zip file)
    </a>
</div>