<form id="passwordForm">
    <input type="password" id="passwordInput" placeholder="Enter password" style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;" placeholder="Enter password">
    <button type="submit" style="background-color: #EA8332; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Download</button>
</form>
<a href="#" id="downloadLink" style="display: none;">Download ZIP</a>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.2/firebase-app.js";
    import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.1.2/firebase-auth.js";
    import { getStorage, ref, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.1.2/firebase-storage.js";

    // Firebase's setting object
    var firebaseConfig = {
        apiKey: "AIzaSyAzjuuRfxrLbRe8aErRxTkTke3m380zXEE",
        authDomain: "haptics24.firebaseapp.com",
        projectId: "haptics24",
        storageBucket: "haptics24.appspot.com",
        messagingSenderId: "825429696289",
        appId: "1:825429696289:web:f20ef8d8f6e8f04649a860"
    };

    // Firebase's initialization
    const firebaseApp = initializeApp(firebaseConfig);
    const auth = getAuth(firebaseApp);
    const storage = getStorage(firebaseApp);

    // Listener of form submission
    document.getElementById('passwordForm').addEventListener('submit', function (event) {
        event.preventDefault();

        var password = document.getElementById('passwordInput').value;

        // Firebase Authentication
        signInWithEmailAndPassword(auth, 'dummy@hapticssymposium.org', password)
            .then(function () {
                // Download
                var downloadLink = document.getElementById('downloadLink');
                downloadLink.click();
            })
            .catch(function (error) {
                console.error('Authentication failed:', error);
                alert('Invalid password. Please try again.');
            });
    });

    // Start download
    document.getElementById('downloadLink').addEventListener('click', function () {
        const fileRef = ref(storage, 'HAPTICS24.zip');
        getDownloadURL(fileRef)
            .then((url) => {
                window.location.href = url;
            })
            .catch((error) => {
                console.error('Error getting download URL:', error);
                alert('Download failed. Please try again.');
            });
    });
</script>