<style>
    table, th, td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
        margin: 5px;
    }
</style>

<table width="100%" style="border: 1 px solid black;">
    <tr>
        <th width="35%" style="background-color: lightgray; font-weight: bold;">Time (PT)</th>
        <th width="65%" style="background-color: lightgray; font-weight: bold;">Session</th>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;"> 9:30 - 9:35 </td>
        <td><span class="b">Introduction</span> - Chair and mentor introduction in the main Zoom room</td>
    <tr>
        <td style="text-align: center; vertical-align: middle;"> 9:35 - 10:20 </td>
        <td><span class="b">Mentor Discussion 1</span> - Mentors meet with their breakout groups in two parallel Zoom sessions:
            <li> Mentoring forum chairs run a short icebreaker and introduction activity [5 min]</li>
            <li> 5 min presentation from each mentee in their breakout groups, followed by an interactive discussion with the mentors [40 min]</li>
        </td>
    </tr>
        <td style="background-color: lightgray; text-align: center"> 10:20 - 10:30</td>
        <td style="background-color: lightgray; font-weight: bold;"> Break </td>
    </tr>
        <td style="text-align: center; vertical-align: middle;"> 10:30 - 11:20 </td>
        <td><span class="b">Individual/Group Work Session</span> 
            <li>Instructions given out in main Zoom room [5 min]</li>
            <li>Mentees make a plan for the next 6 months, based on the feedback received in the first discussion [45 min]</li>
        </td>
    </tr>
    <tr>
        <td style="background-color: lightgray; text-align: center; vertical-align: middle;"> 11:20 - 11:30 </td>
        <td style="background-color: lightgray; font-weight: bold;"> Break </td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;"> 11:30 - 12:20 </td>
        <td><span class="b">Mentorship Discussion 2</span> - Mentors meet with their breakout groups in parallel zoom sessions:
            <li>Instructions given out in main Zoom room [5 min]
            <li>Mentees meet with their mentors in the breakout sessions to present their 6-month plan drafts and receive feedback to improve it [45 min] 
        </td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;"> 12:20 - 12:30 </td>
        <td><span class="b">Closing Ceremony</span> - Everyone rejoins the main Zoom room to wrap up, thank the mentors, and make a commitment for mentees to connect with their mentors in ~6 months for a short follow-up meeting.
        </td>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;"> After the session</td>
        <td><span class="b">Feedback Survey</span> - A short survey is distributed to mentees and mentors to inform future mentorship activities, such as future mentorship forums.</td>
    </tr>
</table>
    