<div>
<strong>1. Prepare a Video File</strong>
    <ul style="padding-left: 20px">
        <li>Screen and audio configuration</li>
            <ul style="margin-bottom:0">
            <li>Recommended: full-screen slides, with a picture-in-picture or side-by-side video of the presenter</li>
            <li>Acceptable Alternative: full-screen slides with audio of the presenter</li>
            <li>Use a high quality microphone for the recording. Most headset microphones work well. Avoid using the microphone that is integrated in your computer.</li>
            </ul>
        <li> Video specifications
            <ul style="margin-bottom:0">
            <li>Length: Up to 3 minutes</li>
            <li>Resolution: At least 720p and 30 fps (preferably 1080p or more, and 60 fps)</li>
            <li>Use <a href="https://support.google.com/youtube/troubleshooter/2888402?hl=en">YouTube supported file formats</a></li>
            <li>Adhere to the accessibility requirements listed below (see <a href="#vid-accessibility">Video Accessibility</a>)</li>
            </ul>
    </ul>
<strong>2. Prepare a Closed Caption File</strong>
<p style="padding-left: 20px; margin-bottom: 0;">
This section introduces how to create a closed caption file
using <a href="http://studio.youtube.com/">YouTube Studio</a> 
(authors may create a new account for this purpose if they wish or use their existing account).
Google Chrome is a recommended browser. Authors may also create a <a href="https://support.google.com/youtube/answer/2734698?hl=en#zippy&zippy=%2Cbasic-file-formats">YouTube supported closed caption 
file</a> using alternative software.
<p style="padding-left:50px; margin-bottom: 0;"> 1. Sign in to <a href="http://studio.youtube.com/">YouTube Studio</a></p>
<p style="padding-left:50px; margin-bottom: 0;"> 2. In the top-right corner, click “CREATE”  and then “Upload videos”</p>
<p style="padding-left:50px; margin-bottom: 0;"> 3. Select the file you’d like to upload</p>
<p style="padding-left:50px; margin-bottom: 0;"> 4. Edit your video details</p>
<ul style="padding-left:70px;margin-bottom: 0;">
    <li>In the “Details” tab, click “SHOW MORE” and set “Video language” to English. You may edit the other settings as you like.</li>
    <li>In the “Video elements” tab, click “ADD” at “Add subtitles” (if you skip this, you can edit it afterwards)</li>
    <ul style="padding-left:70px;margin-bottom: 0;">
        <li>Use either “Auto-sync” or “Type manually” to enter the captions</li>
        <li>After entering all the captions, check their accuracy with the preview panel on the right side</li>
    </ul>
    <li>In the “Checks” tab, check issues for your video </li>
    <li>In the “Visibility tab”, you may select the visibility option that you like (if you do not want to open your video to the public until the conference, do not select “Public”)</li>
</ul>
<p style="padding-left:50px; margin-bottom: 0;"> 5. Click “Content” on the left of <a href="http://studio.youtube.com/">YouTube Studio</a></p>
<p style="padding-left:50px; margin-bottom: 0;"> 6. Click the pen icon (“Details”) on the row with the video(s) you want to save (the icon is not visible until you hover over the table row)</p>
<p style="padding-left:50px; margin-bottom: 0;"> 7. Click “Subtitles” on the left menu</p>
<p style="padding-left:50px; margin-bottom: 0;"> 8. Click the three dots icon (“Options”) on the row with the captions you want to save (the icon is not visible until you hover over the table row)</p>
<p style="padding-left:50px; margin-bottom: 0;"> 9. Click “Download” and then click “.srt”</p>
<p style="padding-left:50px; margin-bottom: 0;"> 10. Now, you have a closed caption file!</p>
</p>
<p style="padding-left: 20px">Additional information about uploading to YouTube can be found <a href="https://support.google.com/youtube/answer/57407#zippy=%2Cdetails%2Cmonetization%2Cad-suitability%2Cvideo-elements">here.</a></p>
<strong>3. Submission</strong>
<p style="padding-left: 20px; margin-bottom: 0;">To complete your submission, upload the video file and closed caption file, 
    and enter the metadata on <a href="https://forms.gle/9njssbsRotjc34f6A">this form</a>. The instructions for metadata are as follows.
<ul style="padding-left: 20px">
    <li>Video title text</li>
        <ul style="margin-bottom:0">
        <li>[LastNameOfFirstAuthor et al.], [ShortenedPaperTitle], IEEE Haptics Symposium 2022</li>
        <li></li>For example: <br/>Smith et al., Vibrotactile Massage in Virtual Reality, IEEE Haptics Symposium 2022
        </ul>
    <li>Video description</li>
        <ul style="margin-bottom:0">
        <li>[AuthorName1], [AuthorName2], … , [FullPaperTitle], Proceedings of IEEE Haptics Symposium 2022<br/>
        [Abstract Text as Published in Paper]<br/>#haptics #haptics2022<br/>https://www.hapticssymposium.org/</li>
        <li></li>For example: <br/>
        K. Smith, B. Nelson, T. Xu, Vibrotactile Massage Methods in Virtual Reality, Proceedings of IEEE Haptics Symposium 2022<br/>
        Abstract: Many researchers have sought to introduce vibrotactile massage methods in virtual reality. However, prior approaches have proved inadequate. Here, we show …<br/>
        #haptics #haptics2022 #vibrotactile #virtualmassage<br/>
        https://www.hapticssymposium.org/
        </ul>
</ul>

</p>
</div>

<!---
<li> YouTube-specific instructions
    <ul style="margin-bottom:0">
    <li> Authors must upload their video to their own YouTube account (authors may use their existing account or create a new account for this purpose).</li>
    <li>Please check the audio and visual quality of the uploaded video, and your ability to access the video from a private browser window.</li>
    <li>Configure the following settings under “Edit Video” on the YouTube page for your video:</li>
        <ul style="margin-bottom:0">
        <li>Set the visibility for your presentation video to “public”</li>   
        <li>Select the Creative Commons license</li>
        <li>Recommended: select the “allow embeddings” feature using “More Options” within the “Edit Video” page.</li> 
        </ul>
    <li>Set the title for the video as follows:</li>
        <ul style="margin-bottom:0">
        <li>[LastNameOfFirstAuthor et al.], [ShortenedPaperTitle], IEEE Haptics Symposium 2022</li>
        <li></li>For example: <br/>Smith et al., Vibrotactile Massage in Virtual Reality, IEEE Haptics Symposium 2022
        </ul>
    <li>Write the description of the video as follows:</li>
        <ul style="margin-bottom:0">
        <li>[AuthorName1], [AuthorName2], … , [FullPaperTitle], Proceedings of IEEE Haptics Symposium 2022<br/>
        [Abstract Text as Published in Paper]<br/>#haptics #haptics2022<br/>https://www.hapticssymposium.org/</li>
        <li></li>For example: <br/>
        K. Smith, B. Nelson, T. Xu, Vibrotactile Massage Methods in Virtual Reality, Proceedings of IEEE Haptics Symposium 2022<br/>
        Abstract: Many researchers have sought to introduce vibrotactile massage methods in virtual reality. However, prior approaches have proved inadequate. Here, we show …<br/>
        #haptics #haptics2022 #vibrotactile #virtualmassage<br/>
        https://www.hapticssymposium.org/
        </ul>
-->