<div>
<ul>
<li>Length: Up to 30 seconds</li>
<li>Resolution: At least 720p (preferably 1080p or more)</li>
<li>Address the accessibility requirements listed below (see “Video Accessibility”)</li>
<li>Authors must upload their video to their own YouTube account (authors may create a new account for this purpose if they wish or use their existing account).
<li>Please check the quality of the uploaded video and sound, and your ability to access the video from a private browser window.</li>
<li>Configure the following settings under “Edit Video” on the YouTube page for your video:</li>
  <ul style="margin-bottom:0">
  <li>Set the visibility for your presentation video to “public”</li>
  <li>Apply Creative Commons license</li>
  <li>Recommended: select the “allow embeddings” feature using “More Options” within the “Edit Video” page.</li>
  </ul> 
<li>Set the title for the video as follows:</li>
  <ul style="margin-bottom:0">
  <li>[LastNameOfFirstAuthor et al.], [ShortenedPaperTitle], IEEE Haptics Symposium 2022</li>
  <li></li>For example: <br/>Smith et al., Vibrotactile Massage in Virtual Reality, IEEE Haptics Symposium 2022
  </ul>
<li>Write the description of the video as follows:</li>
  <ul style="margin-bottom:0">
  <li>[AuthorName1], [AuthorName2], … , [FullPaperTitle], Proceedings of IEEE Haptics Symposium 2022<br/>
  [Abstract Text as Published in Paper]<br/>#haptics #haptics2022<br/>https://www.hapticssymposium.org/</li>
  <li></li>For example: <br/>
  K. Smith, B. Nelson, T. Xu, Vibrotactile Massage Methods in Virtual Reality, Proceedings of IEEE Haptics Symposium 2022<br/>
  Abstract: Many researchers have sought to introduce vibrotactile massage methods in virtual reality. However, prior approaches have proved inadequate. Here, we show …<br/>
  #haptics #haptics2022 #vibrotactile #virtualmassage<br/>
  https://www.hapticssymposium.org/
  </ul>
</div>