<div class="program-day">
    <div class="program-head">
        <div class="program-timehead">Time</div>
        <div class="program-schedhead">Schedule</div>
    </div>

    <div class="program-row">
        <div class="program-time">8:00 a.m.<br>-<br>9:00 a.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Registration</div>
            <div class="program-location">Gallery Foyer</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">9:00 a.m.<br>-<br>10:40 a.m.</div>
        <div class="program-item bg-peach span-2">
            <div class="program-title">
                <a href="../oralsessions/#session-3">Oral Session 3</a><br>
                Human Perception and Multisensory Haptics
            </div>
            <div class="program-location">Topaz 2</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">10:40 a.m.<br>-<br>11:00 a.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Coffee Break</div>
            <div class="program-location">Gallery Foyer</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">11:00 a.m.<br>-<br>12:30 p.m.</div>

        <div class="program-item bg-peach col-2">
            <div class="program-title">
                <a href="../oralsessions/#session-4a">Oral Session 4A</a><br>
                Soft and Mid-Air Haptic Actuation and Sensing
            </div>
            <div class="program-location">Topaz 2</div>
        </div>

        <div class="program-item bg-peach col-3">
            <div class="program-title">
                <a href="../oralsessions/#session-4b">Oral Session 4B</a><br>
                Haptic Sensing and Perception
            </div>
            <div class="program-location">Topaz 1</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">12:30 p.m.<br>-<br>2:00 p.m.</div>
        <div class="program-item bg-white span-2">
            <div class="program-title">Lunch Break</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">2:00 p.m.<br>-<br>3:45 p.m.</div>
        <div class="program-item bg-salmon span-2">
            <div class="program-title"><a href="../demo/#session-b">Hands-on Demonstration (Session B)</a>
                and Exhibits</div>
            <div class="program-note">Coffee will be served</div>
            <div class="program-location">Bundox Bocce</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">3:45 p.m.<br>-<br>5:00 p.m.</div>
        <div class="program-item bg-salmon span-2">
            <div class="program-title">Industrial and Academia Forum</div>
            <div class="program-location">---</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">6:00 p.m.<br>-<br>9:00 p.m.</div>
        <div class="program-item bg-reception span-2">
            <div class="program-title">Banquet</div>
            <div class="program-location">---</div>
        </div>
    </div>
</div>