<div class="program-day">
    <div class="program-head">
        <div class="program-timehead">Time</div>
        <div class="program-schedhead">Schedule</div>
    </div>

    <div class="program-row">
        <div class="program-time">8:00 a.m.<br>-<br>8:45 a.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Registration</div>
            <div class="program-location">Gallery Foyer</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">8:45 a.m.<br>-<br>9:00 a.m.</div>
        <div class="program-item bg-peach span-2">
            <div class="program-title">Welcome to the Haptics Symposium</div>
            <div class="program-location">Topaz 2</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">9:00 a.m.<br>-<br>10:40 a.m.</div>
        <div class="program-item bg-peach span-2">
            <div class="program-title">
                <a href="../ccc2">Cross-cutting Challenges<br>
                    The Sense of Touch in Contact-Rich Dexterous Robot Manipulation</a>
            </div>

            <div class="program-sub">
                Organizers:<br>
                Jee-Hwan Ryu (KAIST), Ed Colgate (Northwestern Univ.), Michael Wiertlewski (TU Delft)
            </div>

            <div class="program-sub">
                <a href="../ccc2/#keynote-talks">Keynote Talks</a><br>
                Ed Colgate (Northwestern University)<br>
                Pulkit Agrawal (MIT)<br>
                Jeremy Fishel (Sanctuary AI)<br>
                Mike Lambeta (Meta)
            </div>

            <div class="program-location">Topaz 2</div>

            <div class="program-sub">
                <a href="../ccc2/#interactive-posterdemo-presenters">Interactive Poster/Demo Teasers</a>
            </div>

            <div class="program-location">Topaz 2</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">10:40 a.m.<br>-<br>11:10 a.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Coffee Break</div>
            <div class="program-location">Gallery Foyer</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">11:10 a.m.<br>-<br>12:40 p.m.</div>
        <div class="program-item bg-salmon span-2">
            <div class="program-title">
                <a href="../ccc2">Cross-cutting Challenges<br>
                    The Sense of Touch in Contact-Rich Dexterous Robot Manipulation</a>
            </div>

            <div class="program-sub">
                <a href="../ccc2/#interactive-posterdemo-presenters">Interactive Poster/Demo</a>
            </div>

            <div class="program-location">Sage</div>

            <div class="program-sub">
                <a href="../ccc2/#panel-dicussion">Panel Discussion</a><br>
                Ed Colgate (Northwestern University)<br>
                Hyoung-Rock Kim (LG Electronics)<br>
                Pulkit Agrawal (MIT)<br>
                Mike Lambeta (Meta)<br>
                Jeremy Fishel (Sanctuary AI)
            </div>

            <div class="program-location">Topaz 2</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">12:30 p.m.<br>-<br>2:00 p.m.</div>
        <div class="program-item bg-white span-2">
            <div class="program-title">Lunch Break</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">2:00 p.m.<br>-<br>3:00 p.m.</div>
        <div class="program-item bg-peach span-2">
            <div class="program-title">
                <a href="../ccc1">Cross-cutting Challenges<br>
                    Touch, Embodiment, and Multisensory Future</a>
            </div>

            <div class="program-sub">
                Organizers:<br>
                Marie Holm (Kolding School of Design), Anna Queiroz (Univ. of Miami), Yujie Tao (Stanford Univ.)
            </div>

            <div class="program-sub">
                <a href="../ccc1/#keynote-speakers">Keynote Session</a><br>
                Mar González-Franco (Google)<br>
                Hasti Seifi (Arizona State Univ.)
            </div>

            <div class="program-location">Topaz 2</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">3:00 p.m.<br>-<br>3:30 p.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Coffee Break</div>
            <div class="program-location">Gallery Foyer</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">3:35 p.m.<br>-<br>5:30 p.m.</div>
        <div class="program-item bg-salmon span-2">
            <div class="program-title">
                <a href="../ccc1">Cross-cutting Challenges<br>
                    Touch, Embodiment, and Multisensory Future</a>
            </div>

            <div class="program-sub">
                <a href="../ccc1/#panel-speakers">Panel Presenations and Discussion</a><br>
                Eva Chen (Stanford Univ.)<br>
                Marie Holm (Kolding School of Design)<br>
                Elyse Chase (Rice Univ.)<br>
                Yujie Tao (Stanford Univ.)
            </div>
            <div class="program-location">Topaz 2</div>

            <div class="program-sub">
                <a href="../ccc1/#poster-and-demo-presenters">Poster and Demo Session</a>
            </div>

            <div class="program-location">Sage</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">6:00 p.m.<br>-<br>7:30 p.m.</div>
        <div class="program-item bg-reception span-2">
            <div class="program-title">Welcome Reception</div>
            <div class="program-location">---</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">7:30 p.m.<br>-<br>9:30 p.m.</div>
        <div class="program-item bg-white span-2">
            <div class="program-title">Demonstrations and Exhibits Setup</div>
            <div class="program-location">Bundox Bocce</div>
        </div>
    </div>
</div>