<div class="program-day">
    <div class="program-head">
        <div class="program-timehead">Time</div>
        <div class="program-schedhead">Schedule</div>
    </div>

    <div class="program-row">
        <div class="program-time">8:00 a.m.<br>-<br>9:00 a.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Registration</div>
            <div class="program-location">Gallery Foyer</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">9:00 a.m.<br>-<br>10:30 a.m.</div>

        <div class="program-item bg-peach col-2">
            <div class="program-title">
                <a href="../oralsessions/#session-5a">Oral Session 5A</a><br>
                Control, Dynamics, and Interaction in Haptic Systems
            </div>
            <div class="program-location">Topaz 2</div>
        </div>

        <div class="program-item bg-peach col-3">
            <div class="program-title">
                <a href="../oralsessions/#session-5b">Oral Session 5B</a><br>
                Haptic Rendering, Prototyping, and Evaluation
            </div>
            <div class="program-location">Topaz 1</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">10:30 a.m.<br>-<br>11:00 a.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Coffee Break</div>
            <div class="program-location">Gallery Foyer</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">11:00 a.m.<br>-<br>12:15 p.m.</div>
        <div class="program-item bg-salmon span-2">
            <div class="program-title">Closing Ceremony</div>
            <div class="program-sub">
                <strong>Awards</strong><br>
                <strong>Future Conferences</strong>
            </div>
            <div class="program-location">Topaz 2</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">12:15 p.m.<br>-<br>1:45 p.m.</div>
        <div class="program-item bg-white span-2">
            <div class="program-title">Lunch</div>
        </div>
    </div>
</div>