<div class="program-day">
    <div class="program-head">
        <div class="program-timehead">Time</div>
        <div class="program-schedhead">Schedule</div>
    </div>

    <div class="program-row">
        <div class="program-time">8:00 a.m.<br>-<br>8:45 a.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Registration</div>
            <div class="program-location">Gallery Foyer</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">8:45 a.m.<br>-<br>9:00 a.m.</div>
        <div class="program-item bg-peach span-2">
            <div class="program-title">Welcome to the Haptics Symposium</div>
            <div class="program-location">Topaz 2</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">9:00 a.m.<br>-<br>10:30 a.m.</div>
        <div class="program-item bg-peach span-2">
            <div class="program-title">
                <a href="../oralsessions/#session-1">Oral Session 1</a><br>
                Haptic Sensing, Rendering, and Authoring Methods
            </div>
            <div class="program-location">Topaz 2</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">10:30 a.m.<br>-<br>11:00 a.m.</div>
        <div class="program-item bg-blue span-2">
            <div class="program-title">Coffee Break</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">11:00 a.m.<br>-<br>12:00 p.m.</div>

        <div class="program-item bg-peach col-2">
            <div class="program-title">
                <a href="../oralsessions/#session-2a">Oral Session 2A</a><br>
                Perceptual and Affective Responses to Tactile Stimulation
            </div>
            <div class="program-location">Topaz 2</div>
        </div>

        <div class="program-item bg-peach col-3">
            <div class="program-title">
                <a href="../oralsessions/#session-2b">Oral Session 2B</a><br>
                Haptics for Training, Guidance, and Teleoperation
            </div>
            <div class="program-location">Topaz 1</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">12:00 p.m.<br>-<br>12:30 p.m.</div>
        <div class="program-item bg-salmon span-2">
            <div class="program-title">Work-in-Progress and Transactions on Haptics Poster Teasers</div>
            <div class="program-location">---</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">12:30 p.m.<br>-<br>2:00 p.m.</div>
        <div class="program-item bg-white span-2">
            <div class="program-title">Lunch Break</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">2:00 p.m.<br>-<br>3:45 p.m.</div>
        <div class="program-item bg-salmon span-2">
            <div class="program-title">Demonstrations and Exhibits</div>
            <div class="program-note">Coffee will be served</div>
            <div class="program-location">Bundox Bocce</div>
        </div>
    </div>

    <div class="program-row">
        <div class="program-time">3:45 p.m.<br>-<br>5:15 p.m.</div>
        <div class="program-item bg-salmon span-2">
            <div class="program-title">Work-in-Progress and Transactions on Haptics Poster Session</div>
            <div class="program-location">Sage</div>
        </div>
    </div>
</div>