{{ $time := .Get "time" }}
{{ $id := .Get "id" }}
{{ $title := .Get "title" }}
{{ $author := .Get "author" }}
{{ $link := .Get "link" }}
{{ $youtube := .Get "youtube" }}
{{ $award := .Get "award" }}

{{ if ne $time "" }}
<tr>
    <td>{{ $time }}</td>
</tr>
{{ end }}

{{ $titleCell := $title }}
{{ if ne $link "" }}
{{ $titleCell = printf `<a href="%s" target="_blank">%s</a>` $link $title | safeHTML }}
{{ end }}

{{ if ne $id "" }}
<tr>
    <td class="program-entry__id">{{ $id }}:</td>
    <td class="program-entry__main">{{ $titleCell }}</td>
</tr>
<tr>
    <td class="program-entry__id"></td>
    <td class="program-entry__main"><span class="program-entry__author">{{ $author }}</span></td>
</tr>

{{ with $award }}
<tr>
    <td class="program-entry__id"></td>
    <td class="program-entry__main"><span class="program-entry__award">{{ . }}</span></td>
</tr>
{{ end }}

{{ with $youtube }}
<tr>
    <td class="program-entry__id"></td>
    <td class="program-entry__main"><a href="{{ . }}" target="_blank">Preview video (YouTube)</a></td>
</tr>
{{ end }}

{{ else }}

<tr>
    <td>{{ $titleCell }}</td>
</tr>
<tr>
    <td><span class="program-entry__author">{{ $author }}</span></td>
</tr>

{{ with $award }}
<tr>
    <td><span class="program-entry__award">{{ . }}</span></td>
</tr>
{{ end }}

{{ with $youtube }}
<tr>
    <td><a href="{{ . }}" target="_blank">Preview video (YouTube)</a></td>
</tr>
{{ end }}

{{ end }}

<tr class="program-entry__spacer">
    <td colspan="2">&nbsp;</td>
</tr>