<style>
    table, th, td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
        margin: 5px;
    }
</style>

<table width="100%" style="border: 1 px solid black;">
    <tr>
        <th width="20%" style="background-color: lightgray; font-weight: bold;">Time (PT)</th>
        <th width="80%" style="background-color: lightgray; font-weight: bold;">Session</th>
    </tr>
    <tr>
        <td style="text-align: center; vertical-align: middle;"> 9:00 am - 10:30 am </td>
        <td><span class="b"><a href="/program/ccc-theme1/">CCC Theme 1 - The Importance of Touch for Distributed Embodiment</a></span><br><br>
        <span style="font-weight: bold;">Organizers</span>
        <ul>
        <li>Jacob Segil - University of Colorado Boulder & Rocky Mountain Regional VA Medical Center</li>
        <li>Emily Graczyk - Case Western Reserve University & Louis Stokes Cleveland VA Medical Center</li>
        <li>Alexis E. Block - University of California, Los Angeles</li>
        <li>Nicholas Zingale - Cleveland State University</li>
        </ul>
        <span style="font-weight: bold;">Keynote Speakers</span>
        <ul>
        <li>Tamar Makin - University College London</li>
        <li>Peter Lush - University of Sussex</li>
        <li>Nicholas Colonnese - Meta Reality Labs Research</li>
        </ul>
        </td>
    <tr>
        <td style="text-align: center; vertical-align: middle;"> 10:30 am - 12:00 pm </td>
        <td><span class="b"><a href="/program/ccc-theme2/">CCC Theme 2 - Integrating Wearable Haptic Interfaces with Real-World Touch Interactions</a></span><br><br>
        <span style="font-weight: bold;">Organizers</span>
        <ul>
        <li>Pedro Lopes - University of Chicago</li>
        <li>Yon Visell - University of California, Santa Barbara</li>
        </ul>
        <span style="font-weight: bold;">Keynote Speakers</span>
        <ul>
        <li>Mar Gonzalez-Franco - Microsoft Research</li>
        <li>David Parisi - College of Charleston</li>
        <li> Allison M. Okamura - Stanford University</li>
        </ul>
        </td>
    </tr>
</table>
    